<div class="page-container">
  <div class="container">
    <div class="body-login">
      <div>
        <img src="logociudata.png" alt="Logo" />
        <h3>CiuVat</h3>
      </div>
      <form [formGroup]="loginForm" class="form" (submit)="onLogin()">
        <mat-form-field class="full-width">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="username" required />
          @if (loginForm.get('username')?.hasError('required')) {
          <mat-error> El usuario es requerido </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password" required />
          @if (loginForm.get('password')?.hasError('required')) {
          <mat-error> La contraseña es requerida </mat-error>
          }
        </mat-form-field>
        <button class="btn" mat-raised-button type="submit" color="primary">
          Ingresar
        </button>
      </form>
    </div>
  </div>
  <pre>{{currenUser() |  json}}</pre>
</div>
